<template>
  <div>
    Portfolio Page
    <v-btn  @click="openDialog">Create</v-btn>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Id</th>
            <th class="text-left">UserId</th>
            <th class="text-left">Title</th>
            <th class="text-left">Body</th>
            <th class="text-left"></th>
          </tr>
        </thead>
        
        <tbody>
          <tr v-for="item in postsData" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.userId }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.body }}</td>
            <td>
              <v-btn icon @click="openDialog(item)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <v-dialog v-model="dialog" width="500">
      <v-form ref="form5" v-model="form5">
        <v-card>
          <v-card-title class="text-h5 grey lighten-2">
            Privacy Policy
          </v-card-title>

          <v-card-text>
            <div>
              <v-text-field outlined label="Regular" v-model="fUserId"></v-text-field>
            </div>
            <div>
              <v-text-field outlined  label="Regular" v-model="fTitle"></v-text-field>
            </div>
            <div>
              <v-text-field outlined label="Regular" v-model="fBody"></v-text-field>
            </div>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="secondary" text @click="dialog = false">Close</v-btn>
            <v-btn :disabled="disableButton" color="primary" text @click="saveData">I accept</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>
<script>
import { postsList, postsUpdate } from '@/http/request/postsR'

export default {
  data () {
    return {
      postsData: [],
      dialog: false,
      form5: null,
      fUserId: '',
      fTitle: '',
      fBody: '',
      selectedItem: {},
      disableButton: false
    }
  },
  created () {
    postsList().then(res => {
      this.postsData = res.data
      // console.log(res.data)
    })
  },
  methods: {
    openDialog (item) {
      this.disableButton = false
      this.selectedItem = item
      this.fTitle = item.title
      this.fUserId = item.userId
      this.fBody = item.body
      this.dialog = true
    },
    saveData () {
      this.disableButton = true
      const data = {
        title: this.fTitle,
        userId: this.fUserId,
        body: this.fBody,
      }
      postsUpdate(data).then(res => {
        this.dialog = false
      })
    }
  }
}
</script>
