<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-btn icon @click="$store.commit('setEyeClosed')">
          <v-icon>{{ $store.getters.isEyeClosed?'mdi-eye-off':'mdi-eye-off' }}</v-icon>
        </v-btn>

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
        <span class="mr-2">Latest Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import { checkStatus } from '@/http/request/homeEr'
import { Message } from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'

export default {
  name: 'App',

  data: () => ({
    //
  }),
  methods: {
    // changeEye () {
    //   this.$store.commit('setEyeClosed')
    // }
  },
  created () {
    checkStatus().then(res => {
      console.log(res)
      if (res.error) {
        Message({
          showClose: true,
          message: res.message,
          type: 'error',
          duration: 10000
        })
      }
    })
  }
}
</script>
